dist
packages/*/dist
node_modules
apps/*/node_modules
apps/*/dist
apps/*/raycast-env.d.ts
apps/*/.codersmu-api/
*.tsbuildinfo
DerivedData
*.xcuserstate
*.xcodeproj/xcuserdata
*.xcworkspace/xcuserdata
